$font-stack:     Arial, sans-serif
$font-p-size:    14px
$border-element: 1px solid #D6D6D6
$letter-spacing: 0.2px

div.card
  width: 600px
  border: $border-element

div.justify-content-middle
  display: flex
  justify-content: center
  align-items: center
  vertical-align: middle
  height: 100vh

h1.title
  font-family: $font-stack
  font-weight: normal
  font-size: 32px
  letter-spacing: 1px

label
  font-family: $font-stack
  font-weight: bold
  font-size: $font-p-size
  letter-spacing: $letter-spacing

input
  background: #FFFFFF
  border: 1px solid #D6D6D6
  box-sizing: border-box
  border-radius: 8px
  height: 40px
  width: 100%
  letter-spacing: $letter-spacing

button.form-button
  float: right
  border: none
  border-radius: 4px
  padding-right: 35px
  padding-left: 35px
  height: 40px
  background: #FF8200
  font-family: Arial, sans-serif
  font-style: normal
  font-weight: bold
  font-size: 14px
  color: #FFFFFF

.mt-0
  margin-top: 0

.mb-4
  margin-bottom: 4px

.mb-40
  margin-bottom: 40px

.p-40
  padding: 40px

.px-4
  padding-left: 10px
  padding-right: 10px

.shadow
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)

.round-border-8
  border-radius: 8px

.display-block
  display: block